@page "/counter"
@inject IExpenseCategoryRepo categories;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="row mt-3">
    @if (allCategories is null)
    {
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    }
    else
    {
        @foreach (var cat in allCategories)
        {
            <p>@cat.CategoryName</p>
        }
    }
</div>



@code {
    private int currentCount = 0;
    private List<ExpenseCategory> ?allCategories;

    protected override async Task OnInitializedAsync()
    {
        //Have to do this in order to render page properly
        await Task.Delay(1);
        try
        {
            allCategories = await categories.GetCategories();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }


}
