@page "/map/categories"
@inject IExpenseUniqueRepo _uniqueRepo
@inject IExpenseCategoryRepo _categoriesRepo

<h3>Mapping</h3>

@if (uniqueExpenses is null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var exp in uniqueExpenses)
    {
        <p>@exp.Id</p>
        <p>@exp.UniqueName</p>
        @if (exp.Category is not null)
        {
            <p>@exp.Category.CategoryName</p>
        }

    }
}

@code {
    private List<ExpenseUnique> uniqueExpenses = default!;
    private List<ExpenseCategory> categories = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        uniqueExpenses = await _uniqueRepo.GetUniqueExpenses();
        categories = await _categoriesRepo.GetCategories();
    }
}
